@media (max-width: 1170px) {

    /* General css */
    .section-subtitle {
        max-width: 60% !important;
    }
     /* navbar */
     .header .navbar {

        background-size: cover !important;
        padding: 2rem !important;
    }

    .header .navbar-nav {
        margin-top: 2rem !important;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem !important;
        margin-bottom: 1rem !important;
    }

    .header-right span {
        padding-left: 0.2rem 0.5rem;
    }

}

@media (max-width: 991px) {

    /* general */
    .about .banner_section,
    .product .banner_section,
    .Gallery .banner_section,
    .contact .banner_section {
        padding-top: 12.5rem;
        padding-bottom: 3rem;
    }

    /* navbar */
    .header .navbar {

        background-size: cover !important;
        padding: 2rem !important;
    }

    .header .navbar-nav {
        margin-top: 2rem !important;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem !important;
        margin-bottom: 1rem !important;
    }

    .header-right span {
        padding-left: 0.2rem 0.5rem;
    }
    .Testimonial_section .card {

        margin-left: 18px!important;
        margin-right: 2px!important;
    }

}

@media (max-width: 767px) {

    /* general */
    body,
    html {
        font-size: 8px;
    }
    .section-subtitle{
        max-width: 80%;
    }
    /* banner section */
     .banner_section{
        min-height: 70vh;
     }
     .banner_section .carousel-item{
        min-height: 70vh;
     }

     .header .navbar {

        background-size: cover !important;
        padding: 2rem !important;
    }

    .header .navbar-nav {
        margin-top: 2rem !important;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem !important;
        margin-bottom: 1rem !important;
    }

    .header-right span {
        padding-left: 0.2rem 0.5rem;
    }

    .Testimonial_section .card {

        margin-left: 18px!important;
        margin-right: 2px!important;
    }
    .Testimonial_section .img{
        margin-left: 127px!important;
    }
}

@media (max-width: 590px) {

    /* general */
    body,
    html{
        font-size: 7px;
    }


    .header .navbar {

        background-size: cover !important;
        padding: 2rem !important;
    }

    .header .navbar-nav {
        margin-top: 2rem !important;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem !important;
        margin-bottom: 1rem !important;
    }

    .header-right span {
        padding-left: 0.2rem 0.5rem;
    }
    .Testimonial_section .card {

        margin-left: 18px!important;
        margin-right: 2px!important;
    }
    .Testimonial_section .img{
        margin-left: 6px!important;
    }
}